recovery.img
product/etc/motorola/aicore/bundles/genie_llama3.2-3b-instruct_htp73_model+2.1.0.0/quantized_embedding_table.bin
product/etc/motorola/aicore/bundles/genie_llama3.2-3b-instruct_htp73_model+2.1.0.0/weight_sharing_model_ar128_ar32_cl2048_2_of_3.serialized.bin
product/etc/motorola/aicore/bundles/genie_llama3.2-3b-instruct_htp73_model+2.1.0.0/weight_sharing_model_ar128_ar32_cl2048_3_of_3.serialized.bin
product/etc/motorola/aicore/bundles/genie_llama3.2-1b-instruct_htp73_model+1.0.0.0/quantized_embedding_table.bin
product/etc/motorola/aicore/bundles/genie_llama3.2-1b-instruct_htp73_model+1.0.0.0/weight_sharing_model_ar128_ar1_cl2048_2_of_3.serialized.bin
product/etc/motorola/aicore/bundles/genie_llama3.2-1b-instruct_htp73_model+1.0.0.0/weight_sharing_model_ar128_ar1_cl2048_3_of_3.serialized.bin
product/priv-app/MotoDesktop/MotoDesktop.apk
product/priv-app/VelvetForCircleToSearch/VelvetForCircleToSearch.apk
product/priv-app/AiCore/AiCore.apk
product/priv-app/AiServices/AiServices.apk
product/priv-app/Messages/Messages.apk
product/priv-app/MotCamera5/MotCamera5.apk
product/priv-app/GmsCore/GmsCore.apk
product/app/TrichromeLibrary64/TrichromeLibrary64.apk
product/app/Photos/Photos.apk
product/app/YouTube/YouTube.apk
product/app/Gmail2/Gmail2.apk
product/app/Maps/Maps.apk
system_ext/priv-app/SettingsMoto/SettingsMoto.apk
vendor/lib64/libarcsoft_tfs_portrait_hdr.so
vendor/lib64/libarcsoft_tfs_motioncapture.so
vendor/lib64/libarcsoft_tfs_sr.so
vendor/lib64/libarcsoft_tfs_hdr.so
vendor/etc/camera/vidhance.lic
fs_config_dirs
fs_config_files
